* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-container {
    width: 100% - 280px;
    height: fit-content;
    margin-left: 280px;
    margin-top: 60px;
    padding-top: 20px;
}

.main-container .support-title {
    font-weight: 500;
    font-size: 25px;
    text-shadow: 1px 1px lightgray;
}

.main-container .table-container {
    border-collapse: collapse;
    width: 90%;
    text-align: center;
    font-weight: 350;
    height: fit-content;
}

.main-container .no-ticket {
    margin: 2rem;
    display: none;
}

.main-container .table-container tr {
    height: 50px;
    border-bottom: 1.5px solid;
}

.main-container .table-container tr:first-child {
    border: 1.5px solid;
    border-left: none;
    font-weight: 500;
}


/* .main-container .filter-row {
    text-align: left;
    border-left: 2px solid;
    padding-left: 2rem;
    position: relative;
    width: 20%;
} */

.main-container .table-container td {
    border-right: 2px solid;
}

.main-container .table-container .filter-row {
    font-weight: normal;
}

.main-container .table-roww {
    display: flex;
    width: 95%;
    margin: 2rem 0;
    padding-bottom: 3rem;
}

.main-container .filter-box {
    border: 2px solid;
    width: 20%;
    display: inline-block;
    padding: 10px;
    padding-right: 0;
    /* border-right: 2px solid; */
}

.main-container .filter-box .filter-title {
    font-size: 20px;
    font-weight: 500;
}

.main-container  .filter-box .filter-option {
    margin: 1rem;
}

.main-container .filter-option .options {
    font-size: 15px;
    margin: 1rem 0;
}

.main-container .filter-option .options:hover {
    color: blue;
    font-weight: 500;
    text-shadow: 1px 1px lightgray;
    cursor: pointer;
}

.main-container .table-container tr td .reply {
    font-weight: 500;
    text-decoration: underline;
    cursor: pointer;
    font-size: 15px;
}

.main-container .table-container tr td .reply:hover {
    color: blue;
}