* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-container {
    width: 100% - 280px;
    height: fit-content;
    margin-left: 280px;
    margin-top: 60px;
    padding-top: 20px;
}

.main-container .support-title {
    font-weight: 500;
    font-size: 25px;
    text-shadow: 1px 1px lightgray;
}

.main-container .table-container {
    border-collapse: collapse;
    margin: 2rem;
    width: 90%;
    text-align: center;
    font-weight: 350;
    height: fit-content;
}

.main-container .table-container tr {
    height: 50px;
}

.main-container .table-container tr:first-child {
    border: 2px solid;
    font-weight: 500;
}

.main-container .table-container tr:last-child {
    border-bottom: 2px solid;
}

.main-container .table-container tr:first-child .filter-row {
    text-align: left;
    border-left: 2px solid;
    padding-left: 2rem;
    position: relative;
    width: 20%;
}

.main-container .table-container td {
    border: 1px solid;
    border-right: 2px solid;
}

.main-container .table-container .filter-row {
    font-weight: normal;
}

.main-container .table-container .filter-box {
    vertical-align: top;
    display: table-cell;

}

.main-container .table-container .filter-row .filter-title {
    font-size: 20px;
    font-weight: 500;
}

.main-container .table-container .filter-row .filter-option {
    margin: 1rem;
}

.main-container .table-container .filter-option .options {
    font-size: 15px;
    margin: 1rem 0;
}

.main-container .table-container .filter-option .options:hover {
    color: blue;
    font-weight: 500;
    text-shadow: 1px 1px lightgray;
    cursor: pointer;
}

.main-container .table-container tr td .reply {
    font-weight: 500;
    text-decoration: underline;
}

.main-container .table-container tr td .reply:hover {
    color: blue;
}